{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

        <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
              <div class="card profcard profpic">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    {% if object.prof_pic %}
                        <img class="rounded-circle prof_img" src="{{ object.prof_pic.url }}" width=100, height=100>
                    {% else %}
                        <img class="rounded-circle prof_img" src="{% static 'images/default.jpg' %}" width=100, height=100><br/>
                    {% endif %}
                    
                    <div class="mt-3">
                      <h3>{{ object }}</h3>
                      
                    {% if user.is_authenticated and myself %}
                      <form action="{% url 'follow' profiles.id %}" method="POST">{% csrf_token %}
                      {% if follower %}
                        <button type="submit" title="Unfollow" data-html="true" name="user_id", value="{{ profiles.id }}" class="btn btn-primary">Unfollow</button>
                      {% else %}
                        <button type="submit" title="Follow" data-html="true" name="user_id", value="{{ profiles.id }}" class="btn btn-primary">Follow</button>
                      {% endif %}
                      </form>
                    {% endif %}
                    
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="card mb-3 profcard profinfo">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9">
                      {{object}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.bio}}
                    </div>
                  </div>
                  <hr>
                
                </div>
              </div>
              {% comment %} <form action="{% url 'stats' profiles.id %}" method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-primary" id="statsbtn" title="Show stats" name="stats" value={{ profiles.id }}>Show stats</button>
              </form> {% endcomment %}
            </div>
            <div class="col-md-3">
              <div class="card mb-3 profcard profinfo">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 mt-2">
                      <h6 class="mb-0">Liked Posts : {{count_liked_posts}}</h6>
                    </div>
                      {% for liked_post in liked_posts %}
                      <a href="/../post/{{liked_post.posts_id}}" class="mb-0">
                        <div class="follow">{{liked_post.title}}</div>
                      </a>

                      {% endfor%}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9 followerinfo">
              <div class="card mb-3 profcard profinfo">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 mt-2">
                      <h6 class="mb-0">Follows :    {{count_follows}}</h6>
                      <hr>
                      {% for follow in follows %}
                            
                              <a href="/../members/{{follow.id}}/profile" class="mb-0 follow">
                                <div class="follow">{{follow.username}}</div>
                              </a>
                            
                            <br/>
                      {% endfor %}
                    </div>
                    <div class="col-sm-6 mt-2"  >
                      <h6 class="mb-0">Followers :    {{count_followers}}</h6>
                      <hr>
                      {% for follower in followers %}
                            <a href="/../members/{{follower.id}}/profile" class="mb-0">
                              <div class="follower">{{follower.username}}</div>
                            </a>
                            
                            <br/>
                      {% endfor %}
                    </div>
                  </div>
                <hr>
                </div>
              </div>
              {% comment %} <form action="{% url 'stats' profiles.id %}" method="POST">{% csrf_token %}
                <button type="submit" class="btn btn-primary" id="statsbtn" title="Show stats" name="stats" value={{ profiles.id }}>Show stats</button>
              </form> {% endcomment %}
            </div>
          </div>
        <script src="{% static  'js/follow_ajax.js'%}"></script>

    {% endblock content %}